<form id="dataForm">
	<div id = "dataDiv">
		<div class = "personalInfo">
			<h2>First Name</h2>
				<input type = 'text' id = 'first_name_input' />
			<h2>Last Name</h2>
				<input type = 'text' id = 'last_name_input' />
			<h2>Please Upload A Picture</h2>
				<input id='image-input' type = 'file' />
		</div>
	</div>
</form>