<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Monastir Society</title>
  		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--   		<link rel="stylesheet" href="/static/css/font-awesome-4.7.0/css/font-awesome.min.css"> -->


		{{!-- <link href="/static/css/bootstrap.min.css" rel="stylesheet" /> --}}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
		<link href="/static/css/mainpage.css" rel="stylesheet" />

		<script type="text/javascript" src="/static/javascript/jquery-3.2.0.min.js"></script>
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/static/javascript/mainpage.js"></script>
		{{!-- <script type="text/javascript" src="/static/javascript/bootstrap.min.js"></script> --}}
	</head>
	<body>
		{{{ body }}}
	</body>
</HTML>