<script src="/static/javascript/contact.js"></script>
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9 page-title">
				<p id="title">Congregation Peace & Brotherhood of Monastir Inc.</p>
			</div>
			<div class="col-md-3 links" style="display:inline-flex;">
				<p id="home-link"><a href="/">Home</a></p>
			</div>
		</div>
	</div>
</nav>
<br>
<h3 class="text-center">If you have any questions or inquiries,<br> please fill out the form below</h3>
<div class="row">
	<div class="col-md-4 col-md-offset-4 well">
		<form id="send-email">
			<div class="form-group">
				<label>Name</label>
				<input id="name-input" type="text" class="form-control"/>
			</div>
			<div class="form-group">
				<label>Email</label>
				<input id="email-input" type="text" class="form-control"/>
			</div>
			<div class="form-group">
				<label>Message</label>
				<textarea style="height: 100px;"id="message-input" class="form-control"></textarea>
			</div>
			<br>
			<div class="form-group">
				<input type="submit" class="center-block btn btn-primary btn-block"/>
			</div>
		</form>
	</div>
</div>