<script src="/static/javascript/data.js"></script>
<form id="dataForm">
	<h2>First Name</h2>
	<input type = 'text' id = 'first_name_input' />
	<h2>Last Name</h2>
	<input type = 'text' id = 'last_name_input' />
	<h2>Please Upload A Picture</h2>
	<input id='image_input' type = 'text' />
	<input type='submit'/>
</form>