 <script src="/static/javascript/mainpage.js"></script>
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-10 page-title">
				<p id="title">Congregation Peace & Brotherhood of Monastir Inc.</p>
			</div>
			<div class="col-md-1 links">
				<p id="contact-link"><a href="/contact">Contact</a></p>
			</div>
		</div>
	</div>
</nav>
<div class="cem-image text-center">
	<img src="/static/images/bethmoses.jpg" height="300" width="500"/>
	<p id="explanation">Please type in name of individual in search box. <br>You can find a picture and the location of the gravestone</p>
	<br>
	<div class="search">
		<form id="person-search-form">
			<input type="text" id="person-search"/>
			<input type="submit"/>
		</form>
	</div>
	<br>
</div>
<hr>
<footer>
	<p class="text-center">Congregation Peace & Brotherhood of Monastir Inc.</p>
</footer>
