 <link rel="stylesheet" href="/static/css/stripe_form.css">
<script src="/static/javascript/contact.js"></script>
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9 page-title">
				<p id="title">Congregation Peace & Brotherhood of Monastir Inc.</p>
			</div>
			<div class="col-md-3 links" style="display:inline-flex;">
				<p id="home-link"><a href="/">Home</a></p>
			</div>
		</div>
	</div>
</nav>
<br>
<h3 class="text-center">If you have any questions or inquiries,<br> please fill out the form below</h3>
<div class="row">
	<div class="col-md-4 col-md-offset-4 well">
		<form id="send-email">
			<div class="form-group">
				<label>Name</label>
				<input id="name-input" type="text" class="form-control" data-parsley-length="[3, 40]" required="" data-parsley-type="text"/>
			</div>
			<div class="text-center">
				<div class="loader-container">
				    <img src="static/images/giphy-downsized.gif"/>
				</div>
			</div>
			<div class="form-group">
				<label>Email</label>
				<input id="email-input" type="email" data-parsley-type="email" required="" class="form-control"/>
			</div>
			<div class="form-group">
				<label>Message</label>
				<textarea data-parsley-length="[1, 1000]" required="" style="height: 100px;"id="message-input" class="form-control"></textarea>
			</div>
			<br>
			<div class="form-group">
				<input type="submit" id="contact_submit" class="center-block btn btn-primary btn-block"/>
			</div>
		</form>
	</div>
</div>
<br><br>
<hr>
<footer>
	<p class="text-center">Congregation Peace & Brotherhood of Monastir Inc.</p>
</footer>