 <link rel="stylesheet" href="/static/css/parsley.css">
 <link rel="stylesheet" href="/static/css/stripe_form.css">
<script src="https://js.stripe.com/v2/"></script>
{{!-- <script src="https://js.stripe.com/v3/"></script> --}}
<script src="/static/javascript/mainpage.js"></script>
<script src="/static/javascript/stripe_form.js"></script>
      <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
         rel = "stylesheet">
      <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
      <script src="/static/javascript/parsley.min.js"></script>
<div class="body-wrapper">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-10 page-title">
					<p id="title">Congregation Peace & Brotherhood of Monastir Inc.</p>
				</div>
				<div class="col-md-1 links">
					<p id="contact-link"><a href="/contact">Contact</a></p>
				</div>
			</div>
		</div>
	</nav>
	<div class="cem-image text-center">
		<img src="/static/images/Background.jpg" height="300" width="500"/>
		<br><br>
		<p id="explanation">Please type in name of individual in search box. <br>You can find a picture and the location of the gravestone</p>
		<div class="search">
			<input id="person-search"/>
			<input type="hidden" id="person-id">
		</div>
		<br><br><br>
	</div>
	<div class="text-center">
		<button id="donate_button">Donate</button>
		<div id="payment_result"></div>
	</div>
	<div id="donate_modal" class="modal fade" role="dialog">
		<div class="modal-dialog">
		  <div class = "modal-content">
		   	<div class = "modal-header">
		    	<button type="button" class="close" data-dismiss="modal">&times;</button>
		    	<h4 class="text-center">Donate to the Monastir Society</h4>
			</div>
			<div class="text-center">
				<div class="loader-container">
				    <img src="static/images/giphy-downsized.gif"/>
				</div>
			</div>
			<div class = "modal-body">
				<div class="text-center">
					<form id="paymentForm" class="form-horizontal">
					    <div class="form-group">
					        <label class="col-xs-3 control-label">Amount</label>
					        <div class="col-xs-3 inputGroupContainer">
					            <div class="input-group">
					                <input id="donate-amount" class="form-control" name="amount" required=""
					                type="integer" data-parsley-type="integer" min="1" 
					                data-parsley-min="1"/>
					                {{!-- <span class="input-group-addon" >$</span> --}}
					            </div>
					        </div>
					    </div>

					    <div class="form-group">
					        <label class="col-xs-3 control-label">Your full name</label>
					        <div class="col-xs-5">
					            <input id="donate-name" type="text" class="form-control" name="fullName" data-parsley-length="[8, 40]" required=""/>
					        </div>
					    </div>

					    <div class="form-group">
					        <label class="col-xs-3 control-label">Your email</label>
					        <div class="col-xs-5">
					            <input id="donate-email" type="email" class="form-control" name="email" type="email" data-parsley-type="email" required=""/>
					        </div>
					    </div>

					    <div class="form-group">
					        <label class="col-xs-3 control-label">Credit card number</label>
					        <div class="col-xs-5">
					            <input id="donate-card" class="form-control" data-stripe="number" data-parsley-minlength="16" type="integer" data-parsley-type="integer" required=""/>
					        </div>
					    </div>

					    <div class="form-group">
					        <label class="col-xs-3 control-label">Expiration</label>
					        <div class="col-xs-3">
					            <input id="donate-month" type="integer" data-parsley-length="[1, 2]" class="form-control" placeholder="Month" data-stripe="exp-month" data-parsley-type="integer" required=""/>
					        </div>
					        <div class="col-xs-3">
					            <input id="donate-year" type="integer" data-parsley-length="[1, 2]"  class="form-control" placeholder="Year" data-stripe="exp-year" data-parsley-type="integer"required="" />
					        </div>
					    </div>

					    <div class="form-group">
					        <label class="col-xs-3 control-label">CVV</label>
					        <div class="col-xs-2">
					            <input id="donate-cvv" type="text" class="form-control" data-stripe="cvc" data-parsley-length="[1, 4]" required="" />
					        </div>
					    </div>
				    	<br>
						{{!-- <div id = "dialog-1" title = "Payment Status">Payment Completed</div> --}}
					    <div class="form-group">
					        <div class="col-xs-6 col-xs-offset-3">
					            <button id="donate_submit" type="submit" class="btn btn-primary btn-block">Donate</button>
					        </div>
					    </div>

					    <input type="hidden" name="token" value="" />
					</form>


				</div>
		    </div>
		    <br>
		    <div class = "modal-footer">
		    	<button type="button" class="btn btn-default center-block bottom-button" data-dismiss="modal">Close</button>
		    </div>
		  </div>
		</div>
	</div>
	<br><br>
	<hr>
	<footer>
		<p class="text-center">Congregation Peace & Brotherhood of Monastir Inc.</p>
	</footer>
</div>
<script type="text/javascript">
 function blockHtml() {
    $('#paymentForm').hide();
 }

</script>
